* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

header {
    background-color: #003281;
    padding: 40px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none !important;
}

.header .logo img {
    width: 100% !important;
    height: 1rem !important;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.8rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-style: normal;
    transition: color 0.3s;
    font-family: Nunito, sans-serif;
}

.nav-links li a:hover {
    color: #FFD700;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
}

section {
    background-color: #003281;
    padding: 0px 90px 0 90px;
    height: 100dvh;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../image/img-wave.png");
    background-size: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

section div img {
    width: 10rem;
    margin-bottom: 1.5rem;
}

section div h1 {
    color: #ffffff;
    font-size: 2.3rem;
    margin: 0 0 20px;
    line-height: 0.5;
    font-weight: 800;
    font-family: Nunito, sans-serif;
}

section div p {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: Nunito, sans-serif;
}

.app-buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 13px 18px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    font-family: Nunito, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s;
}

.btn img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.btn:hover {
    background-color: #000;
}

#features-container {
    background-color: #f3f4f6;
    padding: 64px 90px;
    text-align: center;
}

#features-container h2 {
    font-size: 32px;
    margin-bottom: 8px;
    color: #003281;
    font-weight: 700;
    font-family: Nunito, sans-serif;
}

#features-container p {
    font-size: 16px;
    margin-bottom: 32px;
    font-weight: 700;
    font-family: Nunito, sans-serif;
    color: #2087FE;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 24px;
    padding: 0 16px;
}

.feature-card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 50px 20px;
    transition: transform 0.3s;
}

.feature-card:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.feature-card img {
    width: 100%;
    padding-bottom: 15px;
}

.feature-card h3 {
    color: #2087FE;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 700;
}

.feature-card p {
    color: #003281 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

#makemoney.container {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    background-color: white;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.make-buttons {
    display: flex;
    gap: 1rem;
    justify-content: start;
}

.image-full {
    width: 100%;
    max-width: 600px;
}

.content {
    text-align: justify;
}

.title-small {
    font-size: 20px;
    color: #2087FE;
    font-weight: bold;
    margin-bottom: 14px;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #003281;
    line-height: 1;
}

.text {
    color: #4A5568;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#aboutus.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.content-area {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.text-section {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.section-heading,
.section-subheading {
    color: #2087FE;
    font-weight: bold;
}

.section-heading {
    font-size: 20px;
    margin-bottom: 5px;
}

.section-subheading {
    font-size: 24px;
    margin-bottom: 10px;
}

.description-text {
    color: #4A5568;
    font-size: 16px;
    margin-bottom: 20px;
}

.make-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.image-section {
    flex: 1;
    padding: 10px;
}

.full-width {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #003281;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding: 40px;
    gap: 1rem;
}

.logo img {
    width: 120px;
}

.app-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.app-footer img {
    width: 30px;
    margin-right: 10px;
}

.app-footer span {
    font-weight: bold;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
}

#virtualnumber .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px 90px;
    background-color: #003281;
    margin: auto;
}

@media (min-width: 768px) {
    #virtualnumber .container {
        flex-direction: row;
    }
}

#virtualnumber .image-container,
#virtualnumber .text-container {
    flex: 1;
    padding: 20px;
}

#virtualnumber .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#virtualnumber .text-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#virtualnumber h1 {
    font-size: 28px;
    color: #ffffff;
    line-height: 1;
    margin-bottom: 10px;
}

#virtualnumber p {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.8;
    margin-bottom: 5px;
}

#virtualnumber .make-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

#virtualnumber .btn {
    background-color: #2087FE;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-in-out;
}

#virtualnumber .btn img {
    margin-right: 5px;
}

#virtualnumber .btn span {
    display: block;
}

.accordion {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    padding: 30px 10px;
}

.accordion-title {
    text-align: center;
    color: #003281;
    margin-bottom: 20px;
    font-size: 24px;
}

.accordion-item {
    background-color: #e8f0fe;
    border: 1px solid #003281;
    border-radius: 5px;
    margin-bottom: 10px;
}

.accordion-toggle {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: #003281;
    color: white;
    cursor: pointer;
    outline: none;
    position: relative;
    font-size: 16px;
}

.accordion-toggle .icon {
    float: right;
    transition: transform 0.3s ease;
}

.accordion-toggle.active .icon {
    transform: rotate(-180deg);
}


.accordion-content {
    background-color: white;
    display: none;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.accordion-content p {
    margin: 0;
    color: #003281;
}

/* Privacy Policy */
.content {
    background-color: #ffffff;
    color: #003281;
    padding: 40px 90px;
    font-size: 16px;
    line-height: 1.8;
    font-family: Nunito, sans-serif;
}

.content h1,
.content h2 {
    color: #2087FE;
    font-weight: bold;
}

.content h1 {
    font-size: 28px;
    margin-bottom: 16px;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.content p {
    margin-bottom: 16px;
    color: #000;
}

.content a {
    color: #2087FE;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li {
    margin-bottom: 8px;
}

/* Responsive Design for Privacy Policy */
@media (max-width: 768px) {
    .content {
        padding: 20px;
    }
}




@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .app-footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (min-width: 768px) {
    .flex-container {
        flex-direction: row;
    }

    #aboutus.container {
        flex-direction: row;
    }

    .content-area {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .text-section {
        text-align: left;
        padding: 20px;
    }

    .make-buttons {
        justify-content: start;
    }
}

@media (max-width: 1000px) {

    .content {
        text-align: center;
    }

    header {
        padding: 30px 40px;
        border: none !important;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        position: fixed;
        height: 90%;
        bottom: 0;
        left: 0;
        text-align: center;
        padding-top: 50px;
        background-color: #003281;
        display: none;
        opacity: 0;
        transform: translateY(100%);
        transition: transform 1s, opacity 1s;
    }

    .nav-links li a {
        text-align: center;
        padding: 10px;
    }

    .menu-toggle {
        display: block !important;
    }

    section {
        padding: 0px 40px 0 40px;
        height: 110dvh;
    }

    #features-container {
        background-color: #f3f4f6;
        padding: 64px 10px;
        text-align: center;
    }


    #virtualnumber .container {
        padding: 40px 40px;
    }

    #aboutus.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 10px;
        max-width: 1200px;
        margin: auto;
    }

    .content-area {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 500px) {
    header {
        padding: 30px 20px;
    }

    section {
        padding: 0px 20px 0 20px;
        height: 80dvh;
        background-image: none !important;
    }

    section div img {
        width: 7rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 13px;
        line-height: 20px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 10px;
    }

    .btn img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    #virtualnumber .text-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #virtualnumber .container {
        padding: 40px 5px;
    }

    .accordion-toggle {
        font-size: 14px;
    }

    section div img {
        width: 11rem;
        margin-bottom: 1.5rem;
    }

    section div p {
        color: #ffffff;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        font-family: Nunito, sans-serif;
    }
}